<dx-gantt taskListWidth="500" scaleType="weeks" height="700" (onTaskUpdating)="checkUpdated($event)">
  <dxo-tasks [dataSource]="chartData"></dxo-tasks>

  <dxi-column dataField="title" caption="Subject" [width]="300"></dxi-column>
  <dxi-column dataField="start" caption="Start Date" dataType="date" [width]="300"></dxi-column>
  <dxi-column dataField="end" caption="End Date" dataType="date" [width]="300"></dxi-column>

  <dxo-validation [autoUpdateParentTasks]="true"></dxo-validation>
  <dxo-editing [enabled]="true" (changesChange)="checkUpdated($event)"></dxo-editing>
</dx-gantt>
